body{
    background-color: #8697C4;
}
a{
    text-decoration: none;
    margin:15px;
    color:white;
    font-size:15px;
}
.icons{
    margin-right:35px;
}
#Ecell{
    margin-right:750px;
}
button a{
    color:black;
}
#header{
    height:25px;
    width:98%;
    background-color: black;
    border-radius:10px;
    padding:10px;
}
#mainbx{
    height:470px;
    width:350px;
    margin: auto;
    /* border:1px solid black; */
    margin-top:100px;
    border-radius:15px;
    background-color:#ADBBDA;
}
#one{
    display:inline-block;
    margin-top:10px;
    width:170px;
    height:30px;
    text-align:center;
    border-right:2px solid black;
}

#two{
    display:inline-block;
    margin-top:10px;
    height:30px;
    text-align:center;
    width:170px;
  
}
#two button{

    width:100px;
    background-color: black;
    color:white;
    border-radius:10px;
    margin-top:2px;
  
}

input{
    margin:15px 150px 10px 50px;
    border-radius:5px;
    height:25px;
    background-color:#EDE8F5;
    /* box-shadow:1px 1px 3px black */
}
input:hover{
    box-shadow:2px 2px 5px black;
}
label{
    margin:15px 150px 10px 45px;

}

h1{
    margin-left:40px;
}
#login{
    border-radius:15px;
    width:200px;
    height:30px;
    margin-left:50px;
    margin-bottom:15px;
    background-color:#3D52A0;
    color:white;
    margin-top:15px;
    /* box-shadow:1px 1px 3px black */
}
#google{
    border-radius:15px;
    width:150px;
    height:30px;
    margin-left:75px;
    color:#3D52A0;
    /* box-shadow:1px 1px 3px black; */
    background-color:#EDE8F5;
}
#login:hover{
    box-shadow:2px 2px 5px black;
}
#google:hover{
    box-shadow:2px 2px 5px black;
}